.container{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  padding: 20px
}

.manage-item-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff;
  color: white;
  padding: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.manage-item-heading {
  font-size: 30px;
  margin-right: 10px;
}

.manage-item-heading span {
  font-size: 24px;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.items-table th,
.items-table td {
  border: 1px solid #ddd;
  padding: 12px 8px;
  text-align: left;
}

.items-table th {
  font-weight: bold;
  background-color: #f4f4f4;
}

.items-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.edit-button:hover {
  background-color: #007bff;
  color: white;
}

.edit-button i {
  font-size: 1.2em;
}

.no-data {
  text-align: center;
  padding: 20px 0;
}
